body {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
}

body {
  font-family: 'Karla', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
